.navbar {
    background-color: #39424e;
    padding: 10px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar  .logo {
    width: 43px;
}

.navbar a {
    margin-left: 20px;
    color: #1ba94c;
    font-size: 20px;
    font-weight: 600;
}

/* Content */

.btn-group {
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn-success {
    background-color: #1ba94c;
    color: #ffffff;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 2px;
    font-weight: 700;
    transition: box-shadow 0.1s ease;
    margin: 8px 12px!important;
    border: none;
    box-shadow: 0 4px 12px #1ba94c80;
}

.btn.disabled {
    background-color: #ccf7db;
    box-shadow: none;
    border: 1px solid #1ba94c;
    color: black;
}

.jumbotron {
    width: 600px;
    height: 300px;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 3px 10px 0 #6376814d;
    background-color: #fff;
    padding: 1rem;
}

#title {
    font-size: 2.4em;
}

#text {
    
}